*{box-sizing: border-box;} /*denne linje udligner width-fejl*/

/*DETTE ER MIT STYLE SHEET*/

/*SKRIFTTYPER OG STØRRELSER SOM STANDARD*/

body{background-color: rgb(0, 0, 0);}


  img{max-width: 100%;
    height: auto;}

.flex-menu{background-color: rgb(0, 0, 0);
    display: flex;
    position: sticky;
    top: 0;
    flex-wrap: wrap;
    justify-content: center;
}

#showreel {position: static;
  right: 0;
  bottom: 0;
  width: 100%; 
  height: 100%;}

h1{color: rgb(255, 255, 255);
font-size: 300%;
font-family: 'Permanent Marker', cursive;
margin: 20px;
}

h2{color: rgb(247, 22, 90);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin: 10px;}


.flex-container {
    display: flex;
    background-color: rgb(0, 0, 0);
    flex-flow: row wrap;
  }

  .flex-container > div {
    background-color: #000000;
    width: 45%;
    margin: 5px;
    padding: 10px;
    font-size: 30px;
    text-align: center;
  }

.underoverskrift {
  display: flex;
  justify-content: center;
}

.punktformcv {background-color: hotpink;
text-align: center;}


/*GENERELLE TING SÅSOM CLASSES OG ID'S*/

.wrapper{
    width:90%;
    margin: 0 auto;}

a:hover {
    color: rgb(255, 187, 0);
    background-color: transparent;
    text-decoration: underline;





/*RESPONSIVE REGLER (SKAL STÅ I BUNDEN AF STYLESHEET)*/

/* Extra small devices (phones, 600px and down) */
@media all and (max-width: 600px) {
  img width=100%

}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media all and (min-width: 600px) {
  img width=100%
  
}

/* Medium devices (landscape tablets, 768px and up) */
@media all and (min-width: 768px) {

} 

/* Large devices (laptops/desktops, 992px and up) */
@media all and (min-width: 992px) {
 
} 

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media all and (min-width: 1200px) {

/*regler til store skærme*/
}}